@import '/src/assets/scss/variables.scss';

.card-deck-books {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: left;
    padding: 5.5rem 4.5rem;

    @media screen and (max-width: $small) {
        justify-content: center;
    }
}